<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Решение СЛАУ</title>
  <%= stylesheet_link_tag 'application', 'scaffold' %>
</head>
<body>
<div id="signAndTitle">
  <a href="<%= root_url %>">
    <div class="equations-caption">
      Решение систем<br/> линейных уравнений
    </div>
  </a>

  <div class="bsu">
    <div id="sign" class="logo"><a href="http://www.bsu.by">www.bsu.by</a></div>
    <div id="title"><a href="http://www.bsu.by">Белорусский<br>государственный<br>университет</a></div>
  </div>
</div>

<p style="color: green"><%= notice %></p>

<div class="page-content">
  <div class="navigation-links">
    <%= link_to "Главная", root_path %>
    <%= link_to "Справка", about_path %>
  </div>
  <%= yield %>
</div>

</body>
</html>
